@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030000;
}

.box {
    width: 400px;
    min-height: 300px;
    background-color: #edecf2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#item {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #6f6c6c;
    outline: none;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 3px;
}

#to-do-box {
    list-style: none;
}

#to-do-box li {
    background-color: #2b2237;
    border: 1px solid #4a4949;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-do-box li i {
    cursor: pointer;
    color: #333131;
}

.done {
    text-decoration: line-through;
    color: #555;
}
